# Sample gitconfig
#

[hub]
        protocol = https
[user]
        name = AUTHORNAME
        email = AUTHOREMAIL
[credential]
        helper = osxkeychain
[alias]
        st = status
        lpc = log -p -c
        lc = log
        lco = log --pretty=oneline --decorate
        lx = log --graph --pretty=format:'%s - %Cred%h%Creset  %Cgreen(%cr)%Creset %an' --abbrev-commit --date=relative --all
        lst = log --stat
        co = checkout
        dfc = diff
        ai = add -i
        c = commit
        m = commit -m
        a = add
        b = branch
        showrel = name-rev --name-only
        igndb = update-index --assume-unchanged config/database.yml
        igngitign = update-index --assume-unchanged .gitignore
        cldb = checkout config/database.yml
        promote = !$ZSHDOT/bin/git-promote
        wtf     = !$ZSHDOT/bin/git-wtf
        rank-contributers = !$ZSHDOT/bin/git-rank-contributers
        count   = !git shortlog -sn
[color]
        diff = auto
        status = auto
        branch = auto
        interactive = auto
        ui = true
[core]
        excludesfile = ~/.gitignore
        editor = vim
[apply]
        whitespace = nowarn
[mergetool]
        keepBackup = false
[difftool]
        prompt = false
[help]
        autocorrect = 1
[push]
        # See `git help config` (search for push.default)
        # for more information on different options of the below setting.
        #
        # Setting to git 2.0 default to surpress warning message
        default = simple

[rerere]
  enabled = 1

[web]
  browser = chrome

[browser "chrome"]
  cmd = /usr/bin/google-chrome

[init]
  templatedir = ~/.git_template
